html,body
{
    color: #cdcdcd;
    background-color: #090909;
    font-family: monospace;
    font-size: larger;
}

a, a:visited, a:hover, a:active 
{
    color: #00bbbb;
}

a.nu, a.nu:visited, a.nu:hover, a.nu:active 
{
    color: #00bbbb;
    text-decoration: none;
}


input 
{
    display: none;
}

input + label + .posts_under_tag 
{
    display: none;
}

input:checked + label + .posts_under_tag 
{
    display: block;
}

label
{
    transition: ease .5s;
}
label:hover 
{
    background: #4E8774;
}


.term,.term2
{
    color: #cdcdcd;
    display: inline-flex;
}

.term::before,.term2::before
{
    color: #55ff55;
    content: "$ ";
    padding-right: 5px;
}

[data-typing-effect] {
    visibility: hidden;
}

.hidden
{
    visibility: hidden;
}


img
{
    border-style: double;
    border-color: #55ff55;
    padding: 10px;
    max-width: 95%;
    max-height: 200px;
    margin: auto;
}

img.lg
{
    border-style: double;
    border-color: #55ff55;
    padding: 10px;
    max-width: 95%;
    max-height: 350px;
    margin: auto;
}

.img_parent
{
    text-align: center;
}

.post
{
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}

.post_parent
{
    text-align:start;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

hr
{
    border-color: #b052da;
}

p
{
    text-align:justify;
    line-height: 1.7em;
}
