<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Acedev's Random Bytes</title>
    <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
    <script src="{{ "/assets/js/typed.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="term" data-typing-effect><div>Initializing blog</div></div><br>
    <div class="term" data-typing-effect><div>Login at <span id ="time" style="color: #b052da;">unknown</span> via <span id="useragent" style="color: #d9bd26;">unknown</span></div></div><br>
    <div class="term" data-typing-effect><div>Logging intro</div></div><br>
    <div class="hidden" id="intro">
      <br>
      A place to remind myself and help others with those new things I learn and come across daily. <br>
      Visit <a href="https://acedev003.github.io">acedev003.github.io</a> to view my random experiments. <br>
      Other links:
      <ul>
        <li><a target="_blank" href="https://github.com/Acedev003">Github</a></li>
        <li><a target="_blank" href="https://twitter.com/Acedev003">Twitter</a></li>
        <li><a target="_blank" href="https://in.linkedin.com/in/acedev003">LinkedIn</a></li>
      </ul>
      <br>
    </div>
    <div class="term2" data-typing-effect><div>Loading site tags</div></div><br>
    <div class="term2" data-typing-effect><div>{{ site.tags | size }} tags found. [View <a href="{{ "/tags" | relative_url }}">here</a>]</div></div><br>
    <div class="term2" data-typing-effect><div>Loading posts</div></div><br>
    <div class="term2" data-typing-effect><div>{{ site.posts | size }} posts loaded</div></div><br>
    <div class="hidden" id="posts">
      <ul>
        {% for post in site.posts %}
        <li>
          <p>{{post.date | date: "%Y-%b-%d"}}<br> <a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!---->
    <script>
      document.getElementById("useragent").innerText = navigator.userAgent;
      document.getElementById("time").innerText      = new Date().toTimeString();

      typingEffect(Array.from(document.getElementsByClassName("term")),{speed:10}).then(()=>{
        document.getElementById("intro").style.visibility = "visible";
        typingEffect(Array.from(document.getElementsByClassName("term2")),{speed:10}).then(()=>{
          document.getElementById("posts").style.visibility = "visible";
        });
      });


    </script>
  </body>
</html>