<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Acedev's Random Bytes - {{page.title}}</title>
    <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
    <script src="{{ "/assets/js/typed.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="term" data-typing-effect><div>Loading post: <p> {{page.title}}</p></div></div><br>
    <div class="term"><div>Uploaded on  : {{page.date | date: "%Y-%b-%d" }}</div></div><br>
    <div class="term">Printing</div>
    <div class="post_parent">
      <div class="hidden post" id="post">
        <br>
        {{content}}
        <br>
      </div>
    </div>
    <div class="term">End post</div>  
    <script>
      typingEffect(Array.from(document.getElementsByClassName("term")),{speed:10}).then(()=>{
        document.getElementById("post").style.visibility = "visible";
      });
    </script>
  </body>
</html>
